
body, html {
  height: 100%;
}

/**
 * Utility Classes
 */

 /*colors*/
.bg-carmudi-blue{
	background-color : #026EC1;
}

.bg-carmudi-secondary {
	background-color : #F3F3F3;
}

.bg-carmudi-orange {
	background-color : #F16621;
}

.text-white {
	color : #ffffff;
}

.text-carmudi-blue{
	color : #026EC1;
}


.text-carmudi-orange {
	color : #F16621;
}

.hidden {
	display:none;
}

.input-error {
	border: 1px solid #ff0000;
}